<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores itaque, dolor in soluta eius velit dicta tempora nemo obcaecati ipsa ipsam porro nihil consequuntur corrupti autem, placeat excepturi vel.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> cras.paulovi@pbh.gov.br</li>
        <li><i class="fa-solid fa-phone"></i> (31) 3277-6636</li>
        <li><i class="fa-solid fa-location-dot"></i> RUA NEBLINA, 120, Conjunto Paulo VI, Belo Horizonte, 31998180</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
        &copy; Todos os direitos reservados
  </section>
</footer>
