.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.sentiment_dissatisfied  {
  font-size: 100px;
}

.container h2 {
  font-size: 35px;
}
